<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tilsit.operator.dockutil</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>/opt/homebrew/bin/dockutil \
          --remove "Messages" \
          --remove "Mail" \
          --remove "Maps" \
          --remove "Photos" \
          --remove "FaceTime" \
          --remove "Calendar" \
          --remove "Contacts" \
          --remove "Reminders" \
          --remove "Freeform" \
          --remove "TV" \
          --remove "Music" \
          --remove "News" \
          --remove "iPhone Mirroring" \
          --remove "/System/Applications/Utilities/Terminal.app" \
          --add "/Applications/iTerm.app" \
          --no-restart && \
        (sleep 2; \
         launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/com.tilsit.operator.dockutil.plist; \
         rm ~/Library/LaunchAgents/com.tilsit.operator.dockutil.plist) &</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
